%p#notice= notice

%p
  %b Category:
  = "#{@race.category.code} - #{@race.category.length}km (#{@race.category.description})"
%p
  %b Race time:
  = @race.race_time
%p
  %b Name:
  = @race.name
%p
  %b Description:
  = @race.description
%p
  %b Intermediate points:
  = @race.intermediate_points
%p
  %b Status:
  = @race.status
-if current_user.try(:is_admin?)
  = render 'next', race: @race
  = link_to 'Edit', edit_race_path(@race)
  \|
= link_to 'Back', races_path
