%p#notice= notice

%p
  %b Race:
  = @run.race.label_desc
%p
  %b User:
  = @run.user.display_name
%p
  %b Number:
  = @run.number
%p
  %b Times:
  = @run.times

-if current_user.try(:is_admin?)
  = link_to 'Edit', edit_run_path(@run)
  \|
= link_to 'Back', runs_path
