%p#notice= notice

%p
  %b Code:
  = @category.code
%p
  %b Description:
  = @category.description
%p
  %b Length:
  = @category.length

= link_to 'Edit', edit_category_path(@category)
\|
= link_to 'Back', categories_path
