%p#notice= notice

%p
  %b Code:
  = @category.code
%p
  %b Description:
  = @category.description
%p
  %b Length:
  = @category.length

-if current_user.try(:is_admin?)
  = link_to 'Edit', edit_category_path(@category) if current_user.try(:is_admin?)
  \|
= link_to 'Back', categories_path
